<div class="container">
  <div class="row ">
    <div class="col">


      <h2 class= "text-center">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname" , placeholder: "Fullname", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

        <div class="mb-3">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" ,class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Confirm", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary " %>
        </div>
      <% end %>
      <hr>
        <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, data: { turbo: false }, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
